body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#loading-message {
    margin-top: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    min-width: 80px;
    margin-bottom: 5px;
    margin-right: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.student-input {
    display: flex;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin-inline: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.red{
    background-color: red !important;
}

button:hover {
    background-color: #1976D2;
}

.error-message {
    color: red;
    margin-top: 5px;
}